apiVersion: apps/v1
kind: Deployment
metadata:
  name: simple-node
  namespace: dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: simple-node-server
  template:
    metadata:
      labels:
        app: simple-node-server
    spec:
      containers:
        - name: simple-node
          image: 10.96.218.213:5000/simple-node-app'
          ports:
            - name: httpport
              containerPort: 3000
              