apiVersion: apps/v1
kind: Deployment
metadata:
  name: simple-node
  namespace: dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: simple-node-server
  template:
    metadata:
      labels:
        app: simple-node-server
    spec:
      containers:
        - name: simple-node
          image: 10.98.11.64:5000/v2/repository/docker-repo/simple-node-app:latest
          ports:
            - name: httpport
              containerPort: 3000
      imagePullSecrets:
      - name: regcred
              
